$photoWidth: 100px;
$animationDuration: 0.2s;

body{
    background-color: #58585A;
}

.selected {
    padding-left: 45px;
    padding-right: 45px;
}

.unselected {
    padding-left: 1.5px;
    padding-right: 1.5px;
}

#barContainer {
    height: auto;
    width: inherit;
    overflow: hidden; /*mask*/
    text-align: center;
}

#bar {
//    margin-left: -1 * $photoWidth; // one plan hidden left to the left screen edge;
    width: $photoWidth * 20; // allow at most two screens of plans been loaded onto the bar
    height: inherit;
    position: relative;
//    display: inline-block;
    display: inline-block;
    margin-left: -10000px;
    margin-right: -10000px;
}

.photo {
    width: $photoWidth;
    height: auto;
    position: relative;
    transition-property: padding;
    transition-duration: $animationDuration;
    transition-timing-function: ease-in-out;
}

.previewWindow {    
    height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    -webkit-clip-path: polygon(0% 6%, 46% 6%, 50% 0%, 54% 6%, 100% 6%, 100% 100%, 0% 100%); //NOTE: doesn't work on IE or Firefox
}

.leftShiftting {
    animation-name: shiftLeftAnimation;
    animation-duration: $animationDuration;
}

.rightShiftting {
    animation-name: shiftRightAnimation;
    animation-duration: $animationDuration;
}

.fadingIn {
    animation-name: fadeInAnimation;
    animation-duration: $animationDuration;
}

.fadingOut {
    animation-name: fadeOutAnimation;
    animation-duration: $animationDuration;
}

@keyframes shiftLeftAnimation {
    0% {left: 0px;}
    100% {left: -1 * $photoWidth;}
}

@keyframes shiftRightAnimation {
    0% {left: 0px;}
    100% {left: $photoWidth;}
}

@keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOutAnimation {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
