$photoWidth: 100px;
$animationDuration: 0.2s;

body{
    background-color: #58585A;
}

.selected {
    padding-left: 45px;
    padding-right: 45px;
}

.unselected {
    padding-left: 1.5px;
    padding-right: 1.5px;
}

#barContainer {
    height: auto;
    width: inherit;
    overflow: hidden; /*mask*/
//    margin: 0 auto;  /*put at the center of the screen*/
    text-align: center;
}

#bar {
    width: auto;
    height: inherit;
    position: relative;
    display: inline-block;
}

.photo {
    width: $photoWidth;
    height: auto;
    position: relative;
    transition-property: padding;
    transition-duration: $animationDuration;
    transition-timing-function: ease-in-out;
}

.leftShiftting {
    animation-name: shiftLeftAnimation;
    animation-duration: $animationDuration;
}

.rightShiftting {
    animation-name: shiftRightAnimation;
    animation-duration: $animationDuration;
}

@keyframes shiftLeftAnimation {
    0% {left: 0px;}
    100% {left: -1 * $photoWidth;}
}

@keyframes shiftRightAnimation {
    0% {left: 0px;}
    100% {left: $photoWidth;}
}
