$sideBarWidth: 120px;
$thumbnailWidth: 80px;
$initialPreviewWindowHeight: 400px;
$animationDuration: 1s;//0.15s;

// GENERAL-----------------------------------------------------------------------------
body{
    background-color: #58585A;
}

#sideBar {
    height: 100%;
    width: $sideBarWidth;
    position: absolute;
    left: 0;
    background-color: dimgray;
}

#bodyContainer {
    margin-left: $sideBarWidth;
    padding-left: 10px
}

// BAR---------------------------------------------------------------------------------
#plansOuterContainer {
    height: auto; 
    width: 100%;
    overflow: hidden; /*mask*/
    text-align: center;
}

#graphsContainer {
    width: 100%;
    height: auto;
}

#plansContainer {
    height: 100%;
    width: $thumbnailWidth * 20; // allow at most 20 plans been loaded onto the plansBar
    position: relative;
    display: inline-block;
    margin-left: -10000px; // hack: used to center the plansBar
    margin-right: -10000px;
}

#plansBar {
    position: relative;
    display: block;
    height: 150px;
}

// PLAN--------------------------------------------------------------------------------
.thumbnail { 
    display: block; // have to use block in order to overlap with name
    width: 100%;
    height: auto;
    position: relative; // do not have to be abs to overlap! 
}

.saveName {
    // FIXME: center the label, both horizontally and vertically, automatically, regardless of the # of lines 
    margin-left: 3.5px;
    margin-top: 19px;
    top: 0px;
    width: $thumbnailWidth - 6px; // padding
    position: absolute;
    display: block; // have to use block in order to overlap with thumbnail
    
    text-align: center;
    word-wrap: break-word;
    color: rgb(94,95,96);
    font-family: "Avenir Next Condensed";
    font-weight: bold;
    font-size: 17px;
    line-height: 14px;
}

.thumbanilSaveNameContainer {
    vertical-align: middle;
    width: 100%;
    height: auto;
    display: relative;
}

.timeStamp {
    margin-top: 3px;
    margin-bottom: auto;
    color: white;
    font-family: "Century Gothic";
    font-size: 12px;
    text-align: center;
}

.planDiv {
    display: inline-block;
    width: $thumbnailWidth;
    height: auto;
    position: absolute;//relative; 
    transition-property: padding, left;
    transition-duration: $animationDuration;
    transition-timing-function: ease-in-out;
}

.selected {
    padding-left: 45px;
    padding-right: 45px;
}

.unselected {
    padding-left: 1.5px;
    padding-right: 1.5px;
}

// PREVIEW-----------------------------------------------------------------------------------
#previewWindow {    
    position: relative;
    height: $initialPreviewWindowHeight;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.previewWindowImage {
    position: absolute; // absolute to previewWindow
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
    
    $triangleHeight: 4.5%;
    $triangleWidth: 3%;
    -webkit-clip-path: polygon(
        0% $triangleHeight, 
        50%-$triangleWidth $triangleHeight, 
        50% 0%, 
        50%+$triangleWidth $triangleHeight, 
        100% $triangleHeight, 
        100% 100%, 
        0% 100%); //NOTE: doesn't work on IE or Firefox
}

// ANIMATIONS---------------------------------------------------------------------------------
.leftShiftting {
    animation-name: shiftLeftAnimation;
    animation-duration: $animationDuration;
}

.rightShiftting {
    animation-name: shiftRightAnimation;
    animation-duration: $animationDuration;
}

.hidden {
    visibility: hidden;
}

.fadingIn {
    animation-name: fadeInAnimation;
    animation-duration: $animationDuration;
}

.fadingOut {
    animation-name: fadeOutAnimation;
    animation-duration: $animationDuration;
}

@keyframes shiftLeftAnimation {
    0% {left: 0px;}
    100% {left: -1 * $thumbnailWidth;}
}

@keyframes shiftRightAnimation {
    0% {left: 0px;}
    100% {left: $thumbnailWidth;}
}

@keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOutAnimation {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
